﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Showpages.aspx.cs" Inherits="finalproject.Showpages" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <h2>Manage Pages</h2> 
     <asp:Button ID="add" runat="server" Text="Add"  PostBackUrl="~/Add.aspx" />
    <asp:SqlDataSource runat="server" ID="page_list"
    ConnectionString="<%$ ConnectionStrings:school_sql_con %>">
</asp:SqlDataSource>
    
<div>  
<asp:DataGrid id="display" runat="server" ></asp:DataGrid>
</div>  




</asp:Content>
